h1 {
  color: #EE4266;
  text-align: center;
}

.joke {
  color: #3CBBB1;
}

#jokeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.loading {
  color: #3CBBB1;
  text-align: center;
}

.error {
  color: #3CBBB1;
  text-align: center;
}